.App {
  text-align: center;
  background-color:rgb(242, 247, 242);
  }
  
  .label{
  display: block;
  font-size: larger;
  color: rgb(10, 9, 9);
  padding: 5px;
  }
  
  .input{
  font-size: larger;
  padding: 5px;
  margin: 2px;
  
  }
  .btn{
  color: white;
  background-color: red;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
  }
  
  .messages{
  display: flex;
  justify-content: center;
  }
  
  .error{
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
  }
  
  .success{
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
  }