/* .message {
    justify-self: end;
    color: black;
      border: aquamarine;
      /* width: 300px; */
      /* border: 1px solid green;
      padding: 50px;
      margin: 20px;
      box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 20%);
  }
  
  .message-box {
    display: grid;
  } */ 
